.navbarAnchord {

    color: black;

}

nav {

    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");

}